@import url(./calendar.css);

* {
  box-sizing: border-box;
  font-family:
    "Pretendard Variable",
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    "Helvetica Neue",
    "Segoe UI",
    "Apple SD Gothic Neo",
    "Noto Sans KR",
    "Malgun Gothic",
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  outline: none;
  user-select: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

input,
textarea {
  border: none;
  background-color: inherit;
  outline: none;
  padding: 0;
}

textarea {
  resize: none;
}

::-webkit-scrollbar {
  border: none;
  width: 1rem;
  height: 1rem;
  background-color: transparent;
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(231, 231, 231);
  border-radius: 0.8rem;
  background-clip: padding-box;
  border: 0.2rem solid transparent;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

abbr {
  text-decoration: none;
}
