.swiper {
  width: 100%;
  overflow: visible;
}

.swiper-slide {
  transition: 0.6s all;
  display: flex;
  align-items: center;
}

.swiper-slide-active #questions-contents {
  font-weight: 500;
  transition: 0.6s all;
}
