name: Synchronize to forked repo
on:
  push:
    branches:
      - develop

jobs:
  sync:
    name: Sync forked repo
    runs-on: ubuntu-latest

    steps:
      - name: Checkout develop
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.FORKED_REPO_TOKEN_DEV }}
          fetch-depth: 0
          ref: develop

      - name: Add remote-url
        run: |
          git remote add forked-repo https://test0001124:${{ secrets.FORKED_REPO_TOKEN_DEV }}@github.com/test0001124/layer-dev
          git config user.name test0001124
          git config user.email klmhyeonwoo@likelion.org

      - name: Push changes to forked-repo
        run: |
          git push -f forked-repo develop

      - name: Clean up
        run: |
          git remote remove forked-repo
